@font-face {
	font-family: "Lucida Sans Unicode";
	src: url("../fonts/lucida-sans-unicode.eot"); /* IE9 Compat Modes */
	src: url("../fonts/lucida-sans-unicode.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/lucida-sans-unicode.otf") format("opentype"), /* Open Type Font */
		url("../fonts/lucida-sans-unicode.svg") format("svg"), /* Legacy iOS */
		url("../fonts/lucida-sans-unicode.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/lucida-sans-unicode.woff") format("woff"), /* Modern Browsers */
		url("../fonts/lucida-sans-unicode.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Exo_2";
	src:url("../fonts/Exo2/Exo2-Regular.woff") format("woff"), /* Modern Browsers */
		  url("../fonts/Exo2/Exo2-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}


/* ------------global------------------------------------------------------- */



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "Exo_2", sans-serif;
}

main {
  background-image: url(../img/fon.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: underline;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  border-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.brand {
  display: block;
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 67px;
  height: 50px;
  background-image: url("../img/лого1\ 1.svg");
  background-repeat: no-repeat;
}

.text {
  font-weight: 300;
  font-size: 27px;
  line-height: 32px;
}



/* ------------------header--------------------------------------------------------- */


.header {
  padding-top: 29px;
  padding-bottom: 18px;
  background-image: url("../img/headerfon.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.header__container {

}

.header__wrap {
  margin-bottom: 389px;
}

.header__logo {
  margin-right: 50px;
  width: 16.5%;
}

.header__nav {
  margin-right: 80px;
}

.is_qform {
 
}

div[data-formid] div .btn_modal-box .btn-modal {
  padding: 0 !important;
  height: 18px !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  font-weight: 600 !important;	
  background-color: transparent !important;
  color: #000000 !important;
  transition: color .3s ease-in-out;
}

div[data-formid] div .btn_modal-box .btn-modal:hover {
  color: #fff;
}

div[data-formid] div .form-overlay .form-modal {
  background-image: url("../img/квиз 1.png") !important;
}

.qform_line-nav__title {
  font-weight: 600 !important;
}
	
.header__list {
  justify-content: space-between;
}

.header__item {
  text-align: center;
}

.header__item:not(:last-child) {
  margin-right: 80px;
}

.header__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  transition: color .3s ease-in-out;
}

.header__link:focus {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.header__link:hover {
  color: #fff;
}

.header__social {
  margin-right: 20px;
}

.header__insta {
  display: inline-block;
  margin-right: 8px;
}

.header__whatsap {
  display: inline-block;
}

.header__tel {
  font-size: 22px;
}

.header__content {
  justify-content: flex-end;
}

.header__title {
  margin-left: auto;
  width: 46.98%;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: end;
}


/* ----------------------materials------------------------------------------ */


.materials {
  position: relative;
  padding-top: 45px;
  margin-bottom: 117px;
  /* min-height: 800px;
  height: 1px;   */
}

.materials__blocks {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
}

.materials__text {
  width: 34.1%;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
}

.materials__image-wrap {
  width: 63.86%;
}

.materials__image-wrap_underframe {
  height: 536px;
}

.materials__image-wrap_slabs {
  height: 525px;
}

.materials__image {
  border-radius: 23px;
}

.materials__title {
  margin-bottom: 103px;
  width:100%;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}



/* proects--------------------------------------------------------- */


.proects {
  margin-bottom: 105px;
  height: 1px;
  min-height: 808px;
}

.slider-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-container {
  height: 100%;
}

.proects__block {
  z-index: 1;
  padding-top: 122px;
  height: 100%;
}

.proects__card {
  margin: 0 auto;
  border: 17px solid #84522E;
  width: 95%;
  height: 1px;
  min-height: 512px;
}

.proects__block_page1 {
  background-image: url("../img/img1.jpg");
}

.proects__block_page2 {
  background-image: url("../img/img2.jpg");
}

.proects__block_page3 {
  background-image: url("../img/img1.jpg");
}

.proects__block_page4 {
  background-image: url("../img/img4.jpg");
}

.proects__block_page5 {
  background-image: url("../img/img4.jpg");
}

.proects__block_page6 {
  background-image: url("../img/img4.jpg");
}

.proects__block_page7 {
  background-image: url("../img/img4.jpg");
}

.proects__block_page8 {
  background-image: url("../img/img4.jpg");
}

.proects__image {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.proects__image_page1 {
  width: 44.91%;
}

.proects__image_page2 {
  width: 45.09%;
}

.proects__image_page3 {
  width: 32.5%;
}

.proects__image_page4 {
  width: 43.98%;
}

.proects__image_page5 {
  width: 43.82%;
}

.proects__image_page6 {
  width: 43.86%;
}

.proects__image_page7 {
  width: 56.11%;
}

.proects__image_page8 {
  width: 53.57%;
}

.proects__descr {
  flex-direction: column;
  align-items: center;
  padding-top: 114px;
  /* min-height: 483px; */
  background-image: url("../img/wood.jpg");
  background-size: cover;
}

.proects__descr_page1 {
  width: 55.85%;
}

.proects__descr_page2 {
  width: 55.66%;
}

.proects__descr_page3 {
  width: 68.75%;
}

.proects__descr_page4 {
  width: 57.15%;
}

.proects__descr_page5 {
  width: 56.94%;
}

.proects__descr_page6 {
  width: 57.63%;
}

.proects__descr_page7 {
  width: 44.64%;
}

.proects__descr_page8 {
  width: 47.54%;
}

.proects__name {
  margin-bottom: 29px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.1em;
  color: #000000;
}

.proects__size {
  margin-bottom: 104px;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
}

.proects__price {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.1em;
}

.proects__content {
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.proects__title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #000000;
}

.proects__advantages {
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
}

.proects__plus {
  position: relative;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.5em;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.proects__quality svg {
  position: relative;
  pointer-events: all;
  transition: transform .5s ease-in-out;
}

.proects__quality:hover svg {
  z-index: 5;
  transform: scale(1.2);
}

.proects__animation {
  overflow: hidden;
  pointer-events: all;
}

.proects__animation:hover svg {
  position: relative;
  transform: translateX(150px);
  transition: transform 1s cubic-bezier(1, -0.07, 0.15, 2.14);
}

.proects__lowprice {
  height: 130px;
  pointer-events: all;
}

.proects__lowprice:hover svg {
  position: relative;
  transform: translateY(20px);
  transition: transform 1s cubic-bezier(1, -0.07, 0.15, 2.14);
}

.proect__icon_offset_quality {
  margin-right: 25px;
}

.proect__icon_offset_fast {
  margin-right: 44px;
}

.proect__icon_offset_lowprice {
  margin-right: 35px;
}

.proects__text {
  padding-top: 18px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.1em;
  color: #000000;
  text-align: start;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 132px;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,18px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,18px));
}

.swiper-button-next, .swiper-button-prev {
  color: #80300021;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset,1px);
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset,0px);
}

.swiper-button-next, .swiper-button-prev {
  top: var(--swiper-navigation-top-offset,48%);
}

.swiper-pagination-bullet-active {
  background-color: green;
}


/* ----faq----------------------------------------------------------------------------- */


/* .faq {
  min-height: 1250px;
} */

.faq__title {
  margin-bottom: 78px;
  color: #000;
  font-size: 40px;
  font-family: Exo 2;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 12px;
  text-transform: uppercase;
  text-align: center;
  }

.faq__list {
  flex-direction: column;
  margin: 0;
  list-style: none;
}

.faq__item {
  position: relative;
  margin: 0;
  border: none;
  width: 55.56%;
  /* min-height: 382px; */
  /* padding-left: 55px; */
}

.ac {
  background-color: transparent;
}

.faq__item .faq__btn {
  z-index: 3;
  height: auto;
  background-color: transparent;
  font-weight: 600;
  font-size: 27px;
  line-height: 32px;
}

.faq__img {
  position: absolute;
  right: 8px;
  bottom: 33%;
  width: 6.52%;
  height: 44px;
}

.faq__btn ellipse, .faq__btn path {
  transition: fill 0.3s ease-in-out;
}

.faq__btn svg {
  transition: transform 0.3s ease-in-out;
}

.faq__btn:focus ellipse {
  fill: #74CB80;
}

.faq__btn:focus path {
  fill: #FFF;
}

.faq__btn:hover ellipse {
  fill: #74CB80;
}

.faq__btn:hover path {
  fill: #FFF;
}

.faq__btn:active svg {
  transform: rotate(45deg);
}

.accordion--active .faq__btn svg {
  transform: rotate(45deg);
}

.faq__btn:active ellipse {
  fill: #CACACA;
}

.faq__btn:active path {
  fill: #000000;
}

.ac .ac-trigger {
  padding: 30px 32px 30px 8px;
}

/* .faq__item .faq__btn_ofsset3 {
  padding: 8px 32px 151px 8px;
} */

.faq__panel {
  position: relative;
  top: -100px;
  /* min-height: 314px; */
  overflow: hidden;
  background: url("../img/faq-acc.jpg") left bottom no-repeat;
}

.ac .ac-trigger::after {
  display: none;
}

.faq__text {
  margin: 113px 8px 39px 39px;
}



/* ------------------------feedback---------------------------------------------------- */



.feedback {
  /* min-height: 800px;
  height: 1px; */
  padding-top: 200px;
  margin-bottom: 128px;
}

.feedback__position {
  justify-content: space-between;
  height: 100%;
}

.feedback__wrap {
  flex-direction: column;
  width: 50%;
}

.feedback__title {
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
}

.feedback__form {
  flex-direction: column;
  align-items: center;
}

.form__inner {
  flex-direction: column;
  padding-left: 64px;
  width: 100%;
}

.form__input {
  width: 89%;
  border: none;
  border-bottom: 1px solid #000000;
  background-color: transparent;
}

.form__input:focus {
  outline: none;
}

.form__email {
  margin-bottom: 15px;
}

.form__phone {
  margin-bottom: 22px;
}

.form__check {
  width: 68.1%;
  font-weight: 121;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.form__textprivate {
  user-select: none;
  cursor: pointer;
  color: #9C9797;
}

.form__blockbutton {
  align-items: center;
  width: 27.84%;
  height: 166px;
  /* z-index: 2; */
  background-image: url("../img/Group\ 3.png");
  background-size: 167px 166px;
  background-repeat: no-repeat;
}

.form__send {
  padding: 8px 10px;
  text-transform: uppercase;
  background-color: transparent;
  width: 100%;
  height: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}


/* ----footer----------------------------------------------------------- */


.footer {
  padding-bottom: 31px;
}

.footer__container {
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 14px;
  padding-left: 14px;
}

.footer__name {
  width: 23.64%;
}

.footer__logo {
  margin-bottom: 28px;
  width: 27.08%;
  height: 96px;
}

.footer__rights {
  color: #9C9797;
}

.footer__subtitle {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer__column {
  margin-right: 20px;
}

.footer__nav {
}

.footer__list {
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__link {
  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.footer__docks {
  width: 42.25%;
}



[class*="ground-pane"] {
  filter: grayscale(1);
}
